body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('wallpaper.jpg'); /* 设置背景图片 */
    background-size: cover; /* 使背景图片覆盖整个页面 */
    background-position: center; /* 使背景图片居中 */
    background-repeat: no-repeat; /* 禁止背景图片重复 */
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* 使容器背景半透明，便于阅读 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* 增加容器宽度 */
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
    display: block;
}

select {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left-panel, .right-panel {
    width: 48%; /* 两边各占容器的一半 */
}

video {
    max-width: 100%; /* 限制寬度不超過容器寬度 */
    max-height: 100%; /* 限制高度不超過容器高度 */
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover; /* 確保影片內容覆蓋整個正方形框架 */
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #218838;
}

button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

#info {
    text-align: left;
}

#waste-type {
    font-size: 1.5em;
    color: #d9534f; /* 使垃圾种类醒目 */
    margin-bottom: 10px;
}

#info h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

#instructions {
    font-size: 1em;
    color: #555;
    max-height: 500px; /* 增加顯示範圍 */
    overflow-y: auto;  /* 允許垂直滾動 */
    padding-right: 10px; /* 添加內邊距以便滾動條不遮擋文字 */
    box-sizing: border-box;
}

#history-container {
    margin-top: 30px;
    text-align: left;
    max-height: 150px; /* Set a maximum height for the history container */
    overflow-y: auto;  /* Enable vertical scrolling if content exceeds the container's height */
}

.history-item {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #666;
}

.footer {
    display: flex;
    justify-content: space-between; /* 分布在容器的两端 */
    font-size: 0.8em; /* 小字号 */
    color: #666; /* 灰色文本 */
    margin-top: 20px;
}

.footer span {
    white-space: nowrap; /* 防止文字换行 */
}

.footer a {
    color: #666;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* New style for highlighted waste type */
.highlight {
    color: #007bff; /* 蓝色文本 */
}
